body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    background-color: #333333;
    color: white;
    padding:10px;
    padding-left: 100px;
}
h2 {
    margin: 0px;
}
.topArea {
    display: flex;
    justify-content: center;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.bottomArea {
    display: flex;
    justify-content: center;
}

.squareBox {
    width: 180px;
    height: 180px;
    background-color: #fbfbfb;
    border-radius: 15px;
    margin: 20px;
    padding: 20px
}
button {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
}
#loanButton {
    background-color: #4bf0a1;
    width: 100%;
}
#repayLoanButton {
    background-color: coral;
    width: 100%;
    margin-bottom: 10px;
}
#bank {
    background-color: #edef4c;
    width: 48%;
}
#work {
    background-color: #4d70f0;
    color: white;
    width: 48%;
}
#laptops {
    margin-top: 15px;
}
h5 {
    margin-block: 5px;
}
#features {
    font-size: 12px;
    margin-top: 0px;
}
.bottomBox {
    width: 700px;
    height: 180px;
    background-color: #fbfbfb;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#image {
    border-radius: 10px;
    margin-right: 10px;
}
#laptopInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
}
#laptopPriceAndBuyBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#buyButton {
    background-color: #4bc9f1;
    font-weight: bold;
    width: 100%;
}